@mixin clearfix(){
  *zoom: 1;

  &:after{
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

@mixin border-bottom-color($width, $color){
	border-bottom: $width solid $color;
}

@mixin test-border() {
	border: 1px solid red;
}