@import "import/reset";
@import "import/mixin";
@import "import/screen";

.content {
    h2 {
        color: green;
    }
    h3 {
    	font-size: 50px;
    }
    h1 {
    	font-size: 25px;
    	color: green;
    	@include test-border();
    }
}