@import "imports/reset";
@import "imports/extra_reset";
@import "imports/mixin";
@import "imports/screen";

.content {
    h2 {
        color: green;
    }
    h3 {
    	font-size: 50px;
    }
    h1 {
    	font-size: 25px;
    	color: green;
    	@include test-border();
    }
}